$green: #37483e;
$yellow: #d2bb5d;
$lightyellow: lighten(saturate($yellow, 20%), 5%);

.titles{
    margin-top: 1%;
    margin-bottom: 3em;
    overflow: hidden;
}
.charlist{
    margin: 0 1em 2em 1em;
}

.charlist .btn {
    margin-top: .2em;
    margin-bottom: .2em;
    width: 96%;
}

.btn {
    font-family: 'Quicksand';
}

.btn-primary {
    font-family: 'Quicksand';
}
 
.left .overflow-hidden{
    height: 35px;
}
.cartbutton{
    color: #fff;
    background-color: #726556;
    border-radius: 3px;
    margin-right: 6%;
}
.choosen{
    height: 100%; 
    margin: 0 20px 0 20px;
}
.cartsize{
    font-size: 100%;
    padding-top: 5px;
} 
.logo-container1{
    height: 100px;
    width: 100px;
    float: left;
    padding-top: 10px;
    padding-right: 10px;
}
.logo-container2{
    width: 12%;
    float: left;
    padding-top: 2%;
    padding-right: 10px;
    margin-left: 50px;
}

.title-float{
    float: left;
}
.button-spacing{
    margin-bottom: 2.5px;
    margin-top: 2.5px;
}
.remove{
    width: 15px;
    color: #000;
}
.confirm{
    margin-top: 5px;
    margin-bottom: 10px;
}

.confirm .btn-primary {
    background-color: #d2bb5d;
    margin-top: 1.5em;
}

.field{
  border-style:solid;
  border-width: 1px;
  border-color: rgba(0,0,0,.125);
  border-radius: 3px;
}

.charquestion{    
    height: 10%;
}

.title-padding{
    padding-left: 20%;
} 
.title-font{
    font-family: 'Quicksand';
} 

.meter { 
	height: 20px; 
        width: 80%;
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}
.meter > span {
	display: block;
	height: 100%;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	background-color: rgb(43,194,83);
	background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, rgb(43,194,83)),
	  color-stop(1, rgb(84,240,84))
	 );
	background-image: -moz-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	-webkit-box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	-moz-box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
}
.meter > span:after, .animate > span > span {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-image: 
	   -webkit-gradient(linear, 0 0, 100% 100%, 
	      color-stop(.25, rgba(255, 255, 255, .2)), 
	      color-stop(.25, transparent), color-stop(.5, transparent), 
	      color-stop(.5, rgba(255, 255, 255, .2)), 
	      color-stop(.75, rgba(255, 255, 255, .2)), 
	      color-stop(.75, transparent), to(transparent)
	   );
	background-image: 
		-moz-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	z-index: 1;
	-webkit-background-size: 50px 50px;
	-moz-background-size: 50px 50px;
	-webkit-animation: move 2s linear infinite;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	overflow: hidden;
}

.animate > span:after {
	display: none;
}

@-webkit-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}
.orange > span {
	background-color: #f1a165;
	background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
	background-image: -webkit-linear-gradient(#f1a165, #f36d0a); 
}

.red > span {
	background-color: #f0a3a3;
	background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
	background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
}
.yellow > span {
        background-color: #c8af4b;
        background-image: -moz-linear-gradient(top, #c8af4b, #889707);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #c8af4b),color-stop(1, #889707));
	background-image: -webkit-linear-gradient(#c8af4b, #889707);
}

html, body {
  height: 100%;
}

.nostripes > span > span, .nostripes > span:after {
	-webkit-animation: none;
	background-image: none;
}

#main > .button, #main > #display-area {
  float: left;
  height: 100%;
  background-color: lighten($green, 50%);
}

#main > #display-area {
  width: 80%;
}

#main {
  height: 100%;
}

body #main > .button {
  align-items: center;
  background-color: $green;
  color: $lightyellow;
  cursor: pointer;
  display: flex;
  font-size: 100px;
  justify-content: center;
  text-decoration: none;
  width: 10%;
}

#display-area {
  padding: 30px;
  box-sizing: border-box;
  transition: all 2s;
  #friends-container {
    transition: all 2s;
    opacity: 0;
  }
  #main.finished & {
    background: black;
  }
  #main.finished & #friends-container {
    opacity: 1;
  }
  .friend-container {
    width: 25%;
    display: block;
    float: left;
    padding: 30px;
    border: 1px solid white;
    border-left: 0;
    &:nth-child(4n + 1) {
      border-left: 1px solid white;
    }
    box-sizing: border-box;
    height: 366px;
  }
  .friend-image {
    display: block;
    max-height: 180px;
    max-width: 100%;
    width: auto;
    height: auto;
  }
  .friend-name {
    color: white;
    font-size: 16px;
    margin: 0 0 15px;
    text-shadow: 0 0 2px $lightyellow;
  }
  #image-area-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    #image-area {
      display: block;
      max-height: 100%;
      margin: 0 auto;
    }
  }
  #maybe-continue {
    p, h2 {
      text-align: center;
    }
  }
}

#main.finished {
  .button {
    font-size: 0;
    background: black;
  }
}
